version: '3'

services:
  mongo:
    image: mongo
    ports:
      - 27017:27017
    restart: always

  questions-service:
    depends_on:
      - mongo
    image: amanformsback-1-questions-service:latest
    # build: ./
    ports:
      - 3002:3002
    environment:
      DB_CONNECTION_URL: mongodb://mongo:27017
      APPLICATION_PORT: 3002

  answers-service:
    depends_on:
      - mongo
    image: amanformsback-1-ansewrs-service:latest
    # build: ./
    ports:
      - '3001:3001'
    environment:
      DB_CONNECTION_URL: mongodb://mongo:27017
      APPLICATION_PORT: 3001

  compositor:
    depends_on:
      - mongo
      - questions-service
      - ansewrs-service
    image: compositor
    build: ./
    environment:
      APPLICATION_PORT: 3003
      DB_CONNECTION_URL: mongodb://mongo:27017
      QUESTIONS_DB_NAME: questions-crud
      ANSWERS_DB_NAME: answers-crud
      QUESTIONS_CRUD_CONNECTION_URL: http://questions-service:3002
      ANSWERS_CRUD_CONNECTION_URL: http://answers-service:3001
    ports:
      - '3003:3003'
